pymongo==3.8.0
requests==2.21.0
pexpect==4.0.1
flask==1.0.3
paramiko==2.4.2
cryptography>=2.8
pexpect_serial==0.0.4
pyserial
pysnmp==4.4.4
pyasn1>=0.2.3
IxNetwork
matplotlib
plotly
chart_studio
psutil